[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
djoser = "*"
djangorestframework-simplejwt = ">=5.5.1"
django-filter = "*"
drf-nested-routers = "*"
pyjwt = ">=2.10.1"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.13"
